<html>
    <head>
        <script src="https://kit.fontawesome.com/607b6d4251.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/x-icon" href="/images/laptop-file-solid.svg">
        <title>
            <%= title %>
        </title>

    </head>
<body>
<!-- input Section here data is send to Database to get stored -->
<div id="input-box">
        <h1><i class="fas fa-tasks"></i> ToDo App</h1>
        <hr>
        <form id ="new-task-form" action="/create-task" method="POST">
       <!-- Task Description Input  -->
    <div class="desc focus">
        <label for="Description">Description</label><br>
        <input type="text" class="add-task" id="add" name="task_desc" placeholder="What do you need to do !!!?" >
    </div>
    <hr>
    <div class="other-desc ">
        <!-- Category input -->
        <div class="category focus">
            <label for="Category">Category</label>
            <br>
            <select name="category" id="category" required >
                <option value="" selected="selected">Select Category</option>
                <option value="Work">Work</option>
                <option value="Personal">Personal</option>
                <option value="College">College</option>
                <option value="Study">Study</option>
                <option value="Hobby">Hobby</option>
            </select>
        </div>
        <hr>
        <!-- Deadline Input -->
        <div class="deadline focus">
            <label for="Deadline"> Deadline</label>
            <br>
            <input type="date" name="deadline" id="deadline" required>
        </div>
    </div>
    <br>
    <hr>
<!-- Delete Buttons -->
    <div class="buttons">
        <div class="add-task-button">
            <button id="add-button"> <i class="fas fa-plus"></i>Add Task </button>

        </div>  
        <div class="delete-task-button">
            <button id="delete-task" form="delete-form" type="submit" ><i class="fas fa-trash"></i> Delete Task</button>
        
        </div>
     </div>   
</form>


</div>
<!-- Rendering the Tasks stroed in the Database -->
<div class="lists-container">
    <div class="task-list-container">
        <h3>Tasks to complete !</h3>
       
        <form action="/delete-task" id="delete-form" method="get">
        <ul>
            <%if (task_list && task_list.length >0){for (let i of task_list){%>
                <li class="taask">
                <div class="details">
                <div class="check-box">
                    <input type="checkbox" name="<%= i.id %>" class="custom-checkbox">
                    
                </div>
                    <div class="desc">
                    <p>
                        <%= i.task_desc%>
                    </p>
                    
                    <p>
                        <i class="fas fa-calendar"></i>
                        <%= i.deadline.toDateString() %>
    
                    </p>
                </div>
                   
                </div>
                <div class="category-outbox" id="<%= i.category %>">
                    <p>
                        <%= i.category %>
                    </p>
                </div>
                </li>
               <br>
                <%}}else{%>
                    <h4 style="font-family:'Kalam' ; color:blueviolet">No Pending Tasks!!! YEAHHH...</h4>
                 <% }%>   
    
        </ul>
    </form>
    </div>

    <!-- Recently Completed tasks list  -->
    <div class="completed-task-list">
    <h3>Recently Completed Tasks</h3>
   
   
   
    <ul>
        <% if(ctasks_list && ctasks_list.length > 0){ for(let c of ctasks_list){ %>
        
        <li class="taask">
            <%= c.name %>
        </li>
        <br>
         <% }%> 
        
         
    </ul>
    <!-- Deleting all Items from Recently Completed list  -->
    <a href="/delete-completed-tasks">Delete all Completed task</a>
    <br>
    <br>
    <%}else{%>
        <h5>No Task completed Recently!!</h5>
        <%}%>

</div>
</div>
     <script src="/js/action.js"></script>   
    </body>
</html>